.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  background-color: ghostwhite;
  height: 500px;
}

.BoxSearch{
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.suggestSearch{
  border: 2px green solid;
  border-radius: 4px;
  max-height: 300px;
  overflow-y: scroll;
}

.suggestSearch::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}